{% extends 'main/main.html' %}
{% load i18n %}
{% load static %}

<title>{% block title %}{% trans 'Goods'%} {% endblock%}</title>
{% block content %}
  {% if product_list %}
      <div id="container2">
        <div style="padding:20px 15px 10px 15px;">
          <h1 class="inner">{% trans 'Our services' %}</h1>
          <br class="clear" />
          {% for product in product_list %}
          <div class="ourprojectrow">
            <h6 class="inner">{{ product.title }}</h6>
            <p>{{ product.description }}</p>
              {% if image.goods_id == product.id or image.service_id == product.id %}
                <div> <img src="{{ image.image.url }}" alt="" width="210" height="139" class="project-img" /> <br />
                  <br />
                  <br />
                  </div>
                {% endif %}
              <div class="clear"></div>
            <br />
            <div style="font-weight:bold;">
              <img src="{% static 'images/other/arrow.png' %}" alt="" width="16" height="16" border="0" />
              <a href="{% url 'service_detail' product.id %}" class="projects">{% trans 'Detail' %}</a>
              <div class="clear"></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  {% endif %}
{% endblock %}
