{% extends 'main/main.html' %}
{% load i18n %}
{% load static %}

{% block style %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block login %}
{% endblock %}
{% block content %}
    <div id="leftbar">
        {% if object.image %}
        <img src="{{ object.image.url }}" width="100px">
        {% endif %}
        <p>
            <strong>{% trans 'Author' %}: </strong>{{ object.author }}
        </p>
    </div>

    <div id="rightbar">
        <p>
            <strong>{% trans 'Price' %}: </strong>{{ object.price }}
        </p>
        <p>
            <strong>{% trans 'Created at' %}: </strong>{{ object.created_at }}
        </p>
        <p class="price">${{ product.price }}</p>
        <form action="{% url 'cart:cart_add' object.id %}" method="post">
            {{ cart }}
            {% csrf_token %}
            <input type="submit" value="{% trans 'Add to cart' %}">
        </form>
    </div>

    <div id="middle">
        <p>
            <strong>{% trans 'Description' %}: </strong>{{ object.description }}
        </p>
    </div>


    <div id="clear">
    </div>

{% endblock %}